/* GENERAL CSS */

* { 
    padding: 0;
    border: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    position: relative;
}

/* SPECIFIC CSS */

h1 {
    margin: 50px;
}

.function-buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 50px;
}

/* LIBRARY TABLE CSS */

.header-function-button {
    padding: 10px 30px;
    border-radius: 10px;
    min-width: 200px;
    background-color: rgb(196, 196, 196);
}

.header-function-button:hover {
    background-color: gray;
}

table {
    border-collapse: collapse;
    margin: 0 50px;
}

th, tr {
    border: 1px solid black;
    padding: 5px;
}

th {
    min-width: 150px;
}

tbody tr:hover {
    background-color: rgb(226, 226, 226);
}

.mark-read-unread-button:hover {
    background-color: rgb(196, 196, 196);
}

.mark-read-unread-button:active {
    background-color: rgb(166, 209, 250);
}

.del-img-btn {
    border-radius: 5px;
}

.del-img-btn:hover {
    background-color: rgb(196, 196, 196);
}

.del-img-btn:active {
    background-color: rgb(250, 166, 166);
}

/* MODAL DIALOG FORM CSS */

dialog#new-book-dialog {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 20%);
    border-radius: 10px;
}

form#new-book-entry-form {
    border: 0.2em solid black;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 1 1px black;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-element {
    display: grid;
    grid-template-columns: 150px 300px;
}

.form-element label, .form-element input[type="text"], .form-element input[type="number"] {
    padding: 5px;
}

input[type="text"], input[type="number"] {
    border: 1px solid rgb(196, 196, 196);
    border-radius: 2px;
}

button[type="submit"] {
    width: 100px;
    height: 50px;
    padding: 10px 20px;
    background-color: rgb(196, 196, 196);
    border: 1 1px black;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: gray;
}